hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
/*propriedades abaixo transformou o rodape em flex e alinhou os itens para posicionar os links em ordem 
ate linha 20 */

    .rodape {
        display: flex;
        justify-content: space-around;
    }
    /* utilizado display block para fazer a lista aparecer no media screen pois tinha sido deletado para 
    versao mobile*/

    .lista-rodape {
        display: block;
    }
/* linha 29 a0 32 alinhamento do texto e icones ao centro, linha 32 criamos espacamento do itens*/
    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 1em 0;
        
    }
/*linha 38 foi criado espacamento para espacar o texto dos link de sua imagem*/ 
    .lista-rodape__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--cinza-claro);
    }
   
    .rodape__titulo {
        font-size: 24px;
    }
}
@media screen and (min-width: 1728px) {
    .lista-rodapé {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodapé {
        padding: 3em 0;
    }
}